@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    width: 390px;
}

body {
    margin: 16px;
    width: 100%;
    background-color: #ffb347;
}

h1, h2, h3 {
    text-align: center;
    font-family: 'Poppins';
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 30px;
}

ul {
    font-family: 'Inter';
}